<app-header></app-header>

<div class="container">
    <div class="left">
        <img src="/imagens/Explorexlogo.png" alt="Explorex Logo" class="logo">
        <h1>Explorex</h1>
    </div>
    <div class="right">
        <div class="form-box">
            <h2>REGISTRAR</h2>
            <input type="email" placeholder="E-mail">
            <button class="btn" (click)="nextPage()">PRÓXIMO</button>
            <div class="divider">OU ENTRE</div>
            <div class="social-login">
                <img src="/imagens/google logo.png" alt="Login com Google">
                <img src="/imagens/apple logo.png" alt="Login com Apple">
            </div>
            <p class="terms">
                Ao se registrar, você concorda com os <a href="#">Termos</a>, <a href="#">Condições</a> e <a href="#">Política de Privacidade</a>.
            </p>
            <p class="login-link">
                Já tem uma conta? <a href="#">Faça o Login</a>
            </p>
        </div>
    </div>
</div>
