.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c45b1e;
    padding: 0 3rem;
    .logo a{
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
}
.nav a{
    margin-left: 4rem;
    color: white;
    text-decoration: none;
    font-weight: 500;

    &:hover{
        color: yellow;
        cursor: pointer;
    }
}
}

main{
    margin: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow:  hidden;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 400px;
    cursor: pointer;
    &:hover {
        transform: scale(1.02);
    }
    .card-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .card-content {
        padding: 1rem;

        .titulo {
            font-size: 1.3rem;
            margin-bottom: 0.5rem;
            color: #2C3E50;
        }
        .data-local {
            font-size: 0.9rem;
            color: #555;
            margin-bottom: 0.5rem;
        }
        .descricao {
            font-size: 0.95rem;
            color: #333;
        }
    }
}